@{ Layout = "../Shared/_Layout.Tablet.cshtml"; }
@{
    ViewBag.Title = "Home Page vied from tablet";
}
@section featured {
    <nav>
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Menu Items</li>
            <li>@Html.ActionLink("Portfolio", "Portfolio", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </nav>

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            @Html.Partial("Index/_Index_BasicInfo")
        </div>
    </section>
}
@Html.Partial("Index/_Index_Suggestions")