<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application phone</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @Styles.Render("~/Content/MobileCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/MobileJS")
</head>
<body>
    <div data-role="page" data-theme="a" data-content-theme="a">
        <div data-role="header" data-position="fixed" data-theme="a">
            <h1>@ViewBag.Title</h1>
        </div>
        <div data-role="content">
            @RenderSection("featured", false)
            @RenderBody()
        </div>
        <div data-role="footer" data-position="fixed" data-theme="a">
            @Html.Partial("_NavBar")
        </div>
    </div>
</body>
</html>
