<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/MobileCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/MobileJS")
</head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="header" data-position="fixed" data-theme="b">
            <h1>@ViewBag.Title</h1>
        </div>
        <div data-role="content" data-theme="d">
            @RenderSection("featured", false)
            @RenderBody()
        </div>
        <div data-role="footer" data-position="fixed" data-theme="a">
            @Html.Partial("_ViewSwitcher")
        </div>
    </div>
</body>
</html>
