<div data-role="navbar" data-theme="b" data-iconpos="top" >
    <ul>
        <li><a href="@Url.Action("Index", "Home")" data-icon="home" class="@(((string)ViewBag.navTab).Equals("Κεντρική") ? "ui-btn-active" : "" )">Home</a></li>
        <li><a href="@Url.Action("Portfolio", "Home")" data-icon="info" class="@(((string)ViewBag.navTab).Equals("Βιογραφικό") ? "ui-btn-active" : "" )">Βιογραφικό</a></li>
        <li><a href="@Url.Action("Contact", "Home")" data-icon="check" class="@(((string)ViewBag.navTab).Equals("Επικοινωνία") ? "ui-btn-active" : "" )">Επικοινωνία</a></li>
        <li><a href="@Url.Action("Settings", "Home")" data-icon="gear" class="@(((string)ViewBag.navTab).Equals("Ρυθμίσεις") ? "ui-btn-active" : "" )">Ρυθμίσεις</a></li>
    </ul>
</div>